<h2>{{movie.name | uppercase}} Details</h2>
    
    <div><span>id: </span>{{movie.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="movie.name" placeholder="name">
        </label>
    </div>
<!-- 
<h2>Movie List</h2>
<ul>
    <li *NgFor="let movie of movies">
       <span>{{movie.Name}}</span>
       <span>{{movie.genre}}</span>
       <span>{{movie.ReleseDate}}</span>
       <span>{{movie.Rating}}</span>
       <span>{{movie.UserScore}}</span>
       <span>{{movie.Metascore}}</span>
       <span>{{movie.Length}}</span>
       <span>{{movie.Description}}</span>

    </li>
</ul> -->


