<!-- 
    <div id="container">
    <div id="content">
        <img [src]="movie.imageUrl" alt="{{movie.name}}">
        <label>name:
            <input [(ngModel)]="movie.name" placeholder="name">
        </label>
        <h2>{{movie.name | uppercase}} Details</h2>
            <span>Genre: {{movie.genre}}</span><br>
            <span>Release Date: {{movie.releaseDate}}</span><br>
            <span>Rating: {{movie.rating}}</span><br>
            <span>User Score: {{movie.userScore}}</span><br>
            <span>Meta Score: {{movie.metaScore}}</span><br>
            <span>Length: {{movie.length}}mins</span><br>
            <span>Description: {{movie.description}}</span><br>
    </div> 
</div> 
-->

<h2><strong>Movie List</strong></h2>
<!--iterates over the movie list-->
<ul class="movies">
    <li *ngFor="let movie of movies">
        <img [src]="movie.imageUrl" alt="{{movie.name}}"align="left">
        <h3>{{movie.name}}</h3>
        <span><b>Genre:</b> {{movie.genre}}</span><br>
        <span><b>Release Date:</b> {{movie.releaseDate}}</span><br>
        <span><b>Rating:</b> {{movie.rating}}</span><br>
        <span><b>User Score:</b> {{movie.userScore}}</span><br>
        <span><b>Meta Score:</b> {{movie.metaScore}}</span><br>
        <span><b>Duration:</b> {{movie.length}}mins</span><br>
        <span>{{movie.description}}</span><br><br>
    </li>
</ul><!--ul movies class ends-->



