<!-- 
    <div id="container">
    <div id="content">
        <img [src]="movie.imageUrl" alt="{{movie.name}}">
        <label>name:
            <input [(ngModel)]="movie.name" placeholder="name">
        </label>
        <h2>{{movie.name | uppercase}} Details</h2>
            <span>Genre: {{movie.genre}}</span><br>
            <span>Release Date: {{movie.releaseDate}}</span><br>
            <span>Rating: {{movie.rating}}</span><br>
            <span>User Score: {{movie.userScore}}</span><br>
            <span>Meta Score: {{movie.metaScore}}</span><br>
            <span>Length: {{movie.length}}mins</span><br>
            <span>Description: {{movie.description}}</span><br>
    </div> 
</div> 
-->
<div id="main">
    <div>
        <h2><strong>Movie List</strong></h2>

        <!--creates a search box-->
        <div>
            <label>search:
                <input [(ngModel)]="movieSearch" placeholder="enter search text here">
            </label>
            <ul *ngIf="searchText">
                <li *ngFor="let movie of movies | filterByMovie: 'searchText'">
                    <span>{{movie.name}}</span>
                </li>
            </ul>
        </div>
            <!--iterates over the movie list-->
            <ul class="heroes">
                <li *ngFor="let movie of movies | sortByDate: 'movdate'" [class.selected]="hero === selectedHero" (click)="onSelect(movie)">
                    <span>{{movie.name}}</span>
                </li>
            </ul><!--ul movies class ends-->
    </div>
    
    <div>
        <app-movies-detail [movie]="selectedMovie"></app-movies-detail>
    </div>

</div> <!--div id man ends-->


