<div *ngIf="movie">

    <img [src]="movie.imageUrl" alt="{{movie.name}}"align="left">
    <h3>{{movie.name}}</h3>
    <span><b>Genre:</b> {{movie.genre}}</span><br>
    <span><b>Release Date:</b> {{movie.releaseDate | date: "dd/MM/yyyy"}}</span><br>
    <span><b>Rating:</b> {{movie.rating}}</span><br>
    <span><b>User Score:</b> {{movie.userScore}}</span><br>
    <span><b>Meta Score:</b> {{movie.metaScore}}</span><br>
    <span><b>Duration:</b> {{movie.length}}mins</span><br>
    <span>{{movie.description}}</span><br>
    <div>
        <label>name:
            <input [(ngModel)]="movie.name" placeholder="name">
        </label>
    </div>
        
</div> <!--ngIf ends-->
